html, body {
    background-color: rgb(100, 175, 246);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}

h1.phase {
    margin-top: 0px;
    text-align: left;
    text-indent: 19em;
    margin-bottom: 20px;
    font-size: 32px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2.process {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.er {
    width: 650px;
    height: 550px;
    border: 2px solid black;
}

.database {
    width: 650px;
    height: 400px;
    border: 2px solid black;
}

.poster {
    width: 650px;
    height: auto;
    border: 2px solid black;
}

p{
    font-size: 18px;
    margin-top: 0px;
}

p.summary{
    font-size: 22px;
    text-indent: 2em;
    margin-bottom: 20px;
}

p.erp{
    font-size: 25px;
    margin-top: 0px;
}

p.skills{
    font-size:22px;
    text-indent: 2em;
    margin-bottom: 10px; 
}

p.applications{
    font-size:22px;
    text-indent: 2em;
    text-align: right;
    margin-bottom: 30px; 
}

.skills-apps {
    display: flex;
    gap: 590px;
    margin-bottom: 0px;
}

.img-txt-box-er {
    display: flex;
    gap: 15px;
    max-width: 1100px;  
    margin: 0 auto;
    margin-bottom: 40px; 
}

