.home-button {
    position: absolute;
    right: 20px;   
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button-box button {
    height: 20px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-box button:hover {
    color: rgb(106, 197, 227);
}

html, body {
    background-color: rgb(100, 175, 246);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}

h1.title {
    margin-bottom: 5px;
}

h1.phase {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2.process {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.er {
    width: 750px;
    height: auto;
    border: 2px solid black;
    display: block;       /* makes margin auto work */
    margin: 0 auto; 
}

.database {
    width: 650px;
    height: 400px;
    border: 2px solid black;
}

.poster {
    width: 650px;
    height: auto;
    border: 2px solid black;
}

p{
    font-size: 18px;
    margin-top: 0px;
}

p.summary{
    font-size: 22px;
    text-indent: 2em;
    margin-bottom: 20px;
}

p.erp{
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    
    
}

p.top-skills{
    font-size:22px;
    text-indent: 11em;
    margin-bottom: 5px; 
}

p.top-apps{
    font-size:22px;
    text-indent: 3em;
    text-align: right;
    margin-bottom: 5px; 
}

p.bot-skills{
    font-size:18px;
    text-indent: 11em;
    margin-bottom: 10px; 
}

p.bot-apps{
    font-size:18px;
    text-indent: 0em;
    text-align: right;
    margin-bottom: 10px; 
}

.skills-apps {
    display: flex;
    gap: 700px;
    margin-bottom: 0px;
}

.img-txt-box-er {
    display: flex;
    gap: 15px;
    max-width: 1100px;  
    margin: 0 auto;
    margin-bottom: 40px; 
}

