/** navigation buttons */
.button-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.button-box button {
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-box button:hover {
    color: rgb(106, 197, 227);
}

/** project buttons */
.project-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-box button {
    outline: 2px solid black;
    height: 200px;
    width: 300px;
    font-size: 25px;
    font-family: 'Inter'
}

/** skills buttons */
.skills-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-box button {
    outline: 2px solid black;
    height: 75px;
    width: 175px;
    font-size: 25px;
    font-family: 'Inter'
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h1.projects {
    text-align: center;
}

h1.skills {
    margin-top: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}


p {
    max-width: 650px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}


.pfp {
    width: 650px;
    height: auto;
    margin-bottom: 10px;
}



