.button-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.button-box button {
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-box button:hover {
    color: rgb(106, 197, 227);
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.project {
    display: flex;
    gap: 20px;
    max-width: 950px;  
    margin: 0 auto;
}

p {
    margin-top: 0px;
}



