p {
    text-indent: 50px;
    font-size: 18px;
}

.bullet{
    text-indent: 30px;
    font-size: 18px;
}

h3{
    margin-bottom: 0;
}

.home-button {
    display: flex;
    justify-content: flex-end;
}
