.home-button {
    position: absolute;
    right: 20px;   
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button-box button {
    height: 20px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-box button:hover {
    color: rgb(106, 197, 227);
}

html, body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}

h1.title {
    margin-bottom: 5px;
}

h1.phase {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2.process {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.er {
    width: 800px;
    height: auto;
    border: 2px solid black;
    display: block;       /* makes margin auto work */
    margin: 0 auto; 
}

.database {
    width: 700px;
    height: auto;
    border: 2px solid black;
    display: block;       /* makes margin auto work */
    margin: 0 auto; 
}

.poster {
    width: 800px;
    height: auto;
    border: 2px solid black;
}

p{
    font-size: 18px;
    margin-top: 0px;
}

p.summary {
    width: 1200px;
    margin: 15px auto;
    font-size: 22px;
    text-align: left;
    text-indent: 2em;   /* only first line indented */
    line-height: 1.2;
}

p.sprintone {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px; 
}


p.sprinttwo{
    width: 1000px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
}

p.erp{
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
}

p.top-skills{
    font-size:22px;
    text-indent: 11em;
    margin-bottom: 5px; 
}

p.top-apps{
    font-size:22px;
    text-indent: 3em;
    text-align: right;
    margin-bottom: 5px; 
}

p.bot-skills{
    font-size:18px;
    text-indent: 11em;
    margin-bottom: 10px; 
}

p.bot-apps{
    font-size:18px;
    text-indent: 0em;
    text-align: right;
    margin-bottom: 10px; 
}

.skills-apps {
    display: flex;
    gap: 700px;
    margin-bottom: 0px;
}

a{
    display: block;
    text-align: center;
    font-size: 18px;
}

.pages{
    display: flex;
    gap: 0px;
}

