.home-button {
    position: absolute;
    right: 20px;   
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button-box button {
    height: 20px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-box button:hover {
    color: rgb(106, 197, 227);
}

html, body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}

h1.title {
    margin-bottom: 5px;
}

h1.phase {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

h1.sprintthree {
    margin-bottom: 10px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2.process {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

h2.user {
    margin-top: 20px;
    font-size: 27px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color:rgb(32, 23, 132);
}

.er {
    width: 800px;
    height: auto;
    border: 2px solid black;
    display: block;       /* makes margin auto work */
    margin: 0 auto; 
}

.database {
    width: 720px;
    height: 370px;
    border: 2px solid black;
    display: block;       /* makes margin auto work */
    margin: 0 auto; 
}

.poster {
    width: 800px;
    height: auto;
    border: 2px solid black;
}



p{
    font-size: 18px;
    margin-top: 0px;
}

p.summary {
    width: 1200px;
    margin: 15px auto;
    font-size: 22px;
    text-align: left;
    text-indent: 2em;   
    line-height: 1.2;
}

p.sprintone {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px; 
}


p.sprinttwo{
    width: 1200px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
}

p.erp{
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
}

p.top-skills{
    font-size:22px;
    text-indent: 18em;
    margin-bottom: 5px; 
}

p.top-apps{
    font-size:22px;
    text-indent: 0em;
    text-align: right;
    margin-bottom: 5px; 
}

p.bot-skills{
    font-size:18px;
    text-indent: 8em;
    margin-bottom: 10px; 
}

p.bot-apps{
    font-size:18px;
    text-indent: 0em;
    text-align: right;
    margin-bottom: 10px; 
}

p.sprintthree_login{
    text-align: center;
    width: 700px;
}




.top-skills-apps {
    display: flex;
    gap: 700px;
    margin-bottom: 0px;
}

.bot-skills-apps {
    display:flex;
    gap: 350px;
    margin-bottom: 20px;
}

a{
    display: block;
    text-align: center;
    font-size: 18px;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 20px; /* controls space between the two images */
    margin-bottom: 10px;
}

.page-card {
    width: 725px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers image + label */
}

.user-page-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers image + label */
}

.page-card h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:rgb(32, 23, 132);
}
.page-card p.sprinttwo_admin {
    margin-left: 10px;
    text-align: center;
}

.page-card p.sprinttwo_user {
    margin-left: 8px;
    text-align: center;
}

.page-card p.sprintthree_admin {
    text-align: center;
    margin-left: 0px;
}

.img_txt { 
    display: flex; flex-direction: column;
    margin-bottom: 20px;
 }

.img-text-row {
    display: flex;
    align-items: flex-start; /* aligns top of image + text */
    gap: 20px;
}

.spt3_user {
    width: 700px; /* or whatever looks good */
    height: auto;
    border: 2px solid black;
}

.sprintthree_user {
    max-width: 500px;
    text-align: left;
}

.spt3_summary{
    width: 700px;
    font-size: 20px;
    text-indent: 2em;
}

a {
    margin-top: 40px;
    margin-bottom: 20px;
}








